[submodule "Submodules/VRTK"]
	path = Submodules/VRTK
	url = https://github.com/thestonefox/VRTK.git
	branch = master
[submodule "Submodules/steamvr_unity_plugin"]
	path = Submodules/steamvr_unity_plugin
	url = https://github.com/ValveSoftware/steamvr_unity_plugin.git
	branch = master
